.form {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 8px;
  padding:20px;
  width: 500px;
  margin:50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input{
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
}
.input:focus {
  outline: none;
}
.button {
  background-color: #f7ca18;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
